body {
    background: midnightblue;
    max-height: 100%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: yellow;
    font-size: 1.3em;
    line-height: 100% ;
}

bimg, bvideo {
    display: block;
    background: midnightblue;
    margin-left: auto;
    margin-right: auto
}

h1 { font-size: 1.5em ;  font-weight: normal;  line-height: 150% ;
     margin-top: .2em ; margin-bottom: 1.2em ;
     color: lightblue;
}

h2 { font-size: 0.9em ;  font-weight: normal; line-height: 100% ;
     margin-top: 1em ; margin-bottom: 1em ;
}

code { font-size: 1.2em ;  font-weight: normal; line-height: 100% ;
     margin-top: 1em ; margin-bottom: 1.2em ;
}

h4 { font-size: .7em ;  font-weight: normal; line-height: 100% ;
     margin-top: 1em ; margin-bottom: 1em ;
}

a { font-size: 0.5em ; font-style: normal; font-weight: normal; color: blue; text-decoration: none ; }
a:hover   { text-decoration: underline }

code a { font-size: 1.2em; color: yellow }

